<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/style9.css">

<html lang="en">
	<head>
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		
		<div class="container">
			<div class="d-flex justify-content-center h-50">
				<div class="card">
					<h1 class> Wine Info</h1>
					<div class="card-header">
						<div class="card-body">
						<h3 class="card-title"><%= winebatch.wine_name%></h3>
						<p class="card-text"><%= winebatch.comments%></p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<b>Style: </b><%= winebatch.style%>
						</li>
						<li class="list-group-item">
							<b>Alcohol: </b><%= winebatch.alcohol%>
						</li>
						<li class="list-group-item">
							<b>American Viticulture Area: </b><%= winebatch.ava%>
						</li>
						<li class="list-group-item">
							<b>Acidity: </b><%= winebatch.acidity%>
						</li>
						<li class="list-group-item">
							<b>Grape Variety: </b><%= winebatch.grape_variety%>
						</li>
						<li class="list-group-item">
							<b>Harvest Location: </b><%= winebatch.harvest_loc%>
						</li>
						<li class="list-group-item">
							<b>Harvest Date: </b><%= winebatch.harvest_date%>
						</li>
						<li class="list-group-item">
							<b>Bottle Date: </b><%= winebatch.bottle_date%>
						</li>
						<li class="list-group-item">
							<b>Average Sunshine: </b><%= winebatch.avg_sunshine%>
						</li>
						<li class="list-group-item">
							<b>Average Temperature: </b><%= winebatch.avg_temp%>
						</li>
						<li class="list-group-item">
							<b>Tannins: </b><%= winebatch.tannins%>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"
		></script>
	</body>
</html>
