<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style6.css">

<div class="row">
  
    <div class="col-6 offset-3">
       
        <form action="/winebatches/<%=winebatch.wID%>?_method=PUT" method="POST" novalidate class="validated-form">
            <h1 class> Edit Wine Batch</h1>
            <div class="card">
                <div class="card-header">
            <div class="mb-3">
                <label class="form-label" for="batch_name">Batch Name</label>
                <input class="form-control" type="text" id="batch_name" name="winebatch[batch_name]" value="<%= winebatch.batch_name %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="wine_name">Wine Name</label>
                <input class="form-control" type="text" id="wine_name" name="winebatch[wine_name]" value="<%= winebatch.wine_name %>">
            </div>
            <div class="mb-3">
                <label class="form-label" fnumBottles">Number of Bottles</label>
                <div class="input-group">
                    <span class="input-group-text" id="num_bottles-label">#</span>
                    <input type="text" class="form-control" id="num_bottles" placeholder="0" aria-label="num_bottles"
                        aria-describedby="num_bottles-label" name="winebatch[num_bottles]" value="<%= winebatch.num_bottles %>" 
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="style">Style</label>
                <input class="form-control" type="text" id="style" name="winebatch[style]" value="<%= winebatch.style %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="alcohol">Alcohol</label>
                <input class="form-control" type="text" id="alcohol" name="winebatch[alcohol]" value="<%= winebatch.alcohol %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="ava">American Viticulture Area</label>
                <input class="form-control" type="text" id="ava" name="winebatch[ava]" value="<%= winebatch.ava %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="acidity">Acidity</label>
                <input class="form-control" type="text" id="acidity" name="winebatch[acidity]" value="<%= winebatch.acidity %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="grape_variety">Grape Variety</label>
                <input class="form-control" type="text" id="grape_variety" name="winebatch[grape_variety]" value="<%= winebatch.grape_variety %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="harvest_loc">Harvest Location</label>
                <input class="form-control" type="text" id="harvest_loc" name="winebatch[harvest_loc]" value="<%= winebatch.harvest_loc %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="harvest_date">Harvest Date</label>
                <input class="form-control" type="text" id="harvest_date" name="winebatch[harvest_date]" value="<%= winebatch.harvest_date %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="bottle_date">Bottle Date</label>
                <input class="form-control" type="text" id="bottle_date" name="winebatch[bottle_date]" value="<%= winebatch.bottle_date %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="avg_sunshine">Average Sunshine</label>
                <input class="form-control" type="text" id="avg_sunshine" name="winebatch[avg_sunshine]" value="<%= winebatch.avg_sunshine %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="avg_temp">Average Temperature</label>
                <input class="form-control" type="text" id="avg_temp" name="winebatch[avg_temp]" value="<%= winebatch.avg_temp %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="tannins">Tannins</label>
                <input class="form-control" type="text" id="tannins" name="winebatch[tannins]" value="<%= winebatch.tannins %>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="comments">Comments</label>
                <textarea class="form-control" type="text" id="comments" name="winebatch[comments]"><%= winebatch.comments %></textarea>
            </div>
            <div class="mb-3">
                <button class="btn float-right btn_add">Edit Wine Batch</button>
            </div>
        </form>
        <button class="btn float-right btn_add">
        <a href="/winebatches/<%= winebatch.wID %>">Back to Selected Batch</a>
       </button>
    </div>
</div>
    </div>
</div>