<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style8.css">
<div class="card2 ">
<h1>In-progress Wine Batches</h1></div>


<a href="/winebatches/comp"><div class ="card3">View Completed Winebatches</div></a>

<br>
<%let count = 0;%>
<%let placement = true;%>
<div class="row">
<% let i = 0 %> <% while (i < winebatches.length) { %> 
    <% if (i <winebatches.length) {%> 
		<% if (winebatches[i].status == "in-progress") {%> 
			<%count += 1;%>
	<div class="col-md-3">
		<div class="card h-500 mb-3">
			<div class="card">
				<div class="card-header">
				<h5 class="card-title">Batch Name: <%= winebatches[i].batch_name %></h5>
				<h5 class="card-title">Wine Name: <%= winebatches[i].wine_name %></h5>
				<p class="card-text"><%= winebatches[i].comments %></p>
				<a class="btn btn_add" href="/winebatches/<%=winebatches[i].wID%>"
					>View <%=winebatches[i].batch_name%></a
				>
			</div>
		</div>
		</div>
    </div>
    <% } %> <% } %> 

    <% i += 1; %>   
	<% if (count == 3){%>
		<%count= 0;%>
		</div>
		<div class="row">
	<% } %> 
	<% if (i == winebatches.length){%>
		</div>
		<% } %> 
<% } %>