<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style14.css">

		<form action="/account?_method=PATCH" method="POST" novalidate class="validated-form">
			<div class="card-header"> 
			<h3 class> Edit Account Info</h3>
		</div>
            <div class="input-group form-group">
				<div class="card-body"> 
                            <div class="input-group form-group">
								<div class="input-group-prepend">
								</div>
								<input type="email" class="form-control" placeholder="Email" name="email" value="<%= user.email %> " required>
							</div>

                            <div class="input-group form-group">
								<div class="input-group-prepend">
								</div>
								<input type="text" class="form-control" placeholder="Address" name="address" value="<%= user.address %> " required>
								
							</div>
                            <div class="input-group form-group">
								<div class="input-group-prepend">
								</div>
								<input type="text" class="form-control" placeholder="City" name="city" value="<%= user.city %> " required>
								
							</div>
                            <div class="input-group form-group">
								<div class="input-group-prepend">
								</div>
								<input type="text" class="form-control" placeholder="Zip" name="zip" value="<%= user.zip %> " required>
								
							</div>
                            <div class="input-group form-group">
								<div class="input-group-prepend">
								</div>
								<input type="text" class="form-control" placeholder="State" name="state" value="<%= user.state %> " required>
								
							</div>
                            <div class="input-group form-group">
								<div class="input-group-prepend">
								</div>
								<input type="text" class="form-control" placeholder="Phone Number" name="phone" value="<%= user.phone %> " required>
								
							</div>
							<button type="submit" class="btn float-right btn_login">Edit Info</button>
				</div>
        </form>
        
    </div>
    <a href="/viewaccount">Back to Account</a>
</div>
